*
{
padding:0;
box-sizing:borderbox;
margin:0;
outline:none;
border:none;
text-decoration:none;
}
body
{
background-position:center;
background-size:cover;
font-family:sans-serif;
}

.menu
{
background-color:rgb(27, 11, 3);
text-align:right;

}
.menu a
{
display:inline-flex;
life-style:none;
text-decoration:none;
text-align:right;
}


.menu a
{
width:100px;
margin:15px;
padding:12px;
color: rgb(253, 186, 0);
font-size:14pt;
text-align:right;

}
.htext,div
{
font-size:3em;
font-family:times;
color:rgb(253, 186, 0);
}
.htext span 
{
color:rgb(201, 186, 159);
}
.htext,div{
position:absolute;
top:30%;
}